/*APP COMPONENT RELATED CSS GOES HERE*/
.district-card {
  border-radius: 5px;
  background-color: white;
  width: 90%;
  margin-left: 5%;
}

.school-title {
  text-transform: uppercase;
  padding-top: 10px;
}
