

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #2F4550;
}

.hero {
  margin-top: 80px;
  height: 190px;
  background-image: url("https://smithsystem.com/wp-content/uploads/2012/04/page_photo_classroom_diamond.jpg");
}

.welcome {
  text-align: center;
  color: #FFFFFF;
}

.h1 {
  font-size: 1em;
}

.description {
  text-align: center;
  color: #FFFFFF;
}

.stats {
  list-style-type: none;
}

.school-title {
  text-transform: uppercase;
  padding-top: 10px;
  border-bottom: 1px solid #011627;
  padding-bottom: 7px;
  text-align: center;
  color: #2F4550;
}

.nav-bar {
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: #D14754;
  border-bottom: 2px solid #C5C5C5;
}

.search-input {
  border-color: #00FDDC;
  height: 20px;
  margin-left: 4%;
  margin-right: 4%;
  width: 90%;
}

.reset-button {
  background-color: #00FDDC;
  color: #2F4550;
  margin-top: 10px;
}

.reset-button:hover {
  background-color: #2F4550;
  color: #FFFFFF;
}

ul {
  padding: 0;
  text-align: center;
  padding-bottom: 10px;
  margin: -10px;
}
